
hw1PCA/.ipynb_checkpoints/hw1_711133117_陳怡升_PCA-checkpoint.ipynb
hw2SVD_Image/.ipynb_checkpoints/hw2_711133117_陳怡升_PCA_SVD_in_Image-checkpoint.ipynb
hw3Classification/.ipynb_checkpoints/hw3_711133117_陳怡升_MultiLogistic-checkpoint.ipynb
*.csv
*.xlsx
hw3Classification/.ipynb_checkpoints/hw3_711133117_陳怡升_wine-checkpoint.ipynb
hw3Classification/.ipynb_checkpoints/hw3_711133117_陳怡升_YaleFace-checkpoint.ipynb
*.xlsx
*.xlsx
hw3Classification/.ipynb_checkpoints/hw3_711133117_陳怡升_AT&T_face-checkpoint.ipynb
hw3Classification/hw3_711133117_陳怡升_AT&T_face.ipynb
.ipynb_checkpoints/Pytorch-checkpoint.ipynb
hw3Classification/.ipynb_checkpoints/hw3_711133117_陳怡升_AT&T_face-checkpoint.ipynb
